@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-appBg text-textMain antialiased;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "Segoe UI", sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d2d7ec;
  border-radius: 999px;
}
.font-semibold {
  color: rgb(0, 0, 0);
}
.text-slate-400 {
  --tw-text-opacity: 1;
  color: rgb(0, 0, 0);
}
.text-slate-300 {
  --tw-text-opacity: 1;
  color: rgb(0, 0, 0);
}
.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
  color: mediumvioletred;
}
.bg-accent {
  --tw-bg-opacity: 1;
  background-color: rgb(0, 126, 26);
}
.text-textSoft2{
  color: rgb(37, 31, 35);
  font-weight: 900;
}
.hover\:bg-accentHover {
  padding:10px 20px !important;
}
.hover\:bg-accentHover:hover {
  background-color: rgb(13, 56, 21) !important;
  
}